{% extends '@TwinElementsAdmin/index.html.twig' %}

{% use '@TwinElementsAdmin/block/blocks.html.twig' %}

{% block containter %}
    {{ block('alerts') }}
    <div id="dashboard-welcome">
        <h1>{{ "cms.dashboard"|trans({},null,admin_locale) }}</h1>
        <h2>{{ "welcome_to_the_cms"|trans({}, null, admin_locale) }}</h2>
        {{ "welcome_to_the_cms_text"|trans({},null, admin_locale)|raw }}
    </div>
{% endblock %}
