$icomoon-font-family: "Jcons" !default;
$icomoon-font-path: "fonts" !default;

$jcon-switch-off: "\e93e";
$jcon-switch-on: "\e93f";
$jcon-sheet: "\e905";
$jcon-movement: "\e906";
$jcon-minus: "\e907";
$jcon-trash: "\e908";
$jcon-add: "\e909";
$jcon-error: "\e90a";
$jcon-arrow-down: "\e90f";
$jcon-arrow-up: "\e910";
$jcon-arrow-right: "\e911";
$jcon-arrow-left: "\e912";
$jcon-document1: "\e90b";
$jcon-inbox-download: "\e90c";
$jcon-folder: "\e90d";
$jcon-folder-add: "\e90e";
$jcon-search: "\e913";
$jcon-document-file-png: "\e91e";
$jcon-document-file-pdf: "\e91f";
$jcon-document-file-mp3: "\e920";
$jcon-document-file-mp4: "\e921";
$jcon-document-file-mov: "\e923";
$jcon-document-file-jpg: "\e924";
$jcon-document-file-html: "\e925";
$jcon-document-file-css: "\e926";
$jcon-document-file-bmp: "\e927";
$jcon-document-file-tiff: "\e928";
$jcon-document-file-doc: "\e929";
$jcon-document-file-odt: "\e92a";
$jcon-document-file-xls: "\e92b";
$jcon-document-file-docx: "\e92c";
$jcon-document-file-ppt: "\e92d";
$jcon-document-file-xml: "\e92e";
$jcon-document-file-yml: "\e92f";
$jcon-document-file-exe: "\e930";
$jcon-document-file-avi: "\e931";
$jcon-document-file-odp: "\e932";
$jcon-document-file-dotx: "\e933";
$jcon-document-file-xlsx: "\e934";
$jcon-document-file-ods: "\e935";
$jcon-document-file-pps: "\e936";
$jcon-document-file-dot: "\e937";
$jcon-document-file-txt: "\e938";
$jcon-document-file-mpg: "\e939";
$jcon-document-file-wav: "\e93a";
$jcon-document-file-zip: "\e93b";
$jcon-document-file-rar: "\e93c";
$jcon-document-file-gif: "\e93d";
$jcon-document: "\e005";
$jcon-newspaper: "\e009";
$jcon-calendar: "\e00d";
$jcon-pictures: "\e010";
$jcon-video: "\e011";
$jcon-camera: "\e012";
$jcon-bargraph: "\e018";
$jcon-expand: "\e01a";
$jcon-focus: "\e01b";
$jcon-hourglass: "\e01f";
$jcon-megaphone: "\e021";
$jcon-map: "\e025";
$jcon-basket: "\e027";
$jcon-envelope: "\e028";
$jcon-gears: "\e02b";
$jcon-pricetags: "\e02f";
$jcon-lightbulb: "\e030";
$jcon-layers: "\e031";
$jcon-tools-2: "\e034";
$jcon-magnifying-glass: "\e037";
$jcon-caution: "\e03d";
$jcon-profile-male: "\e040";
$jcon-profile-female: "\e041";
$jcon-genius: "\e046";
$jcon-map-pin: "\e047";
$jcon-chat: "\e049";
$jcon-piechart: "\e050";
$jcon-speedometer: "\e051";
$jcon-clock: "\e055";
$jcon-quote: "\e057";
$jcon-alarmclock: "\e059";
$jcon-refresh: "\e05a";
$jcon-happy: "\e05b";
$jcon-sad: "\e05c";
$jcon-plus: "\e922";
$jcon-jellinek-path1: "\e914";
$jcon-jellinek-path2: "\e915";
$jcon-jellinek-path3: "\e916";
$jcon-jellinek-path4: "\e917";
$jcon-jellinek-path5: "\e918";
$jcon-jellinek-path6: "\e919";
$jcon-jellinek-path7: "\e91a";
$jcon-jellinek-path8: "\e91b";
$jcon-jellinek-path9: "\e91c";
$jcon-jellinek-path10: "\e91d";
$jcon-close: "\e900";
$jcon-down: "\e901";
$jcon-up: "\e902";
$jcon-right: "\e903";
$jcon-left: "\e904";

