<div id="editor-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kod źródłowy</h5>
            </div>
            <div class="modal-body">
                <div id="editor" style="height: 500px"></div>
            </div>
            <div class="modal-footer">
                <button id="code-editor-cancel" type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Anuluj</button>
                <button id="code-editor-save" type="button" class="btn btn-sm btn-primary">Zapisz</button>
            </div>
        </div>
    </div>
</div>