$black: #212529;
$white: #fff;

$primary: #449dd7;
$secondary: #868e96;
$warning: #E1B142;

$success: #6cc573;
$success-bg: #a3dca3;
$info: #577EAA;
$danger: #b22128;
$danger-bg: #d24b51;
$light: #f8f9fa;

$dark: #404145;
$border-color: #ededed;

$text-muted: $secondary;

$body-color: $black;
$link-color: $black;
$link-hover-color: $primary;
$body-bg: $white;

$text-color: $black;



$blue: #449dd7;
$green-dark: #a3dca3;
$gray-base: #000;
$gray-darker: #222;
$gray-dark: #404145;
$gray: #bdbdbd;
$gray-light: #f7f8fa;
$gray-lighter: #fff;
