$font-family-base: 'Open Sans';

$font-size-base: 0.9375rem;
$btn-font-size-sm: 0.7rem;

$font-weight-lighter: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-bolder: 900;

$font-weight-base: $font-weight-light;

$h1-font-size: 28px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$h6-font-size: 13px;
